@font-face {
  font-family: 'Bebas Neue';
  	src: url(../fonts/BebasNeue-Regular.ttf);
}
body{
	background-color: #F5F5F5;
	font-family: 'Bebas Neue' !important;
}
h1{
	text-transform: uppercase;
}
p, ::placeholder, .nav.justify-content-center.mb-4, input, textarea{
	font-family: Arial, Helvetica, sans-serif;
	color: #555;
}
p b{
	color: #272727;
}
#contact .nav-link{
    color: #555;
}
#contact .tab-content{
	min-height: 300px;
}
/* input file */
.input-file{
	top: -27px;
	z-index: 0;
	width: 100%;
}
.input-ghost{
	z-index: 1;
	width: 100%;
}
.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 16px;
	background-color: #272727;
}
.footer p{
	color: #fff;
	font-size:12px;
	padding: 0px 15px;
}
.footer-copyright{
background-color: #000;
}
.footer-copyright a{
	color: #D2A12F;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
html {
  position: relative;
	min-height: 100%;
}
.hu-positive{
	padding: 2px 10px;
	font-size: 18px;
	font-weight: unset;
	background: #FDC10A;
	border: none;
	color: #000;
	margin: 10px 0px;
} 
a, a:hover{
	color:#D2A12F;
}
footer a{
color:#D2A12F;
opacity: .8;
}
footer a:hover{
color:#D2A12F;
text-decoration: none;
opacity: 1;
}
/*main*/
#home, #thanks{
	background: #faec6f; 
	background: -moz-radial-gradient(center, ellipse cover, #faec6f 0%, #ffe500 100%); 
	background: -webkit-radial-gradient(center, ellipse cover, #faec6f 0%,#ffe500 100%); 
	background: radial-gradient(ellipse at center, #faec6f 0%,#ffe500 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faec6f', endColorstr='#ffe500',GradientType=1 ); 
	height:100vh;
  	display:flex;
  	align-items:center;
}
#thanks{
		display:block;
		align-items: initial;
}
.LogoThanks{
	max-width: 50%;
}
footer a{
	color:#D2A12F;
	opacity: .8;
}
footer a:hover{
	color:#D2A12F;
	text-decoration: none;
	opacity: 1;
}
#home .static{
	position: fixed;
    top: 130px;
    right: calc(50% - 305px + 40px);
	transition: .5s 0s ease-in;
}
.static.hideCoffee{
	opacity: 0;
	z-index: 0;
	transition: .5s 0s ease-in;
}
svg.mainsvg{
   	height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 10px;
}
#home, #aboutUS, #aboutUs2, #products{
	z-index: 1;
}
#menu, #contact{
	z-index: 2;
}
/*botones menu*/
.Menubtn{
	background-color: transparent;
	border: none;
	margin: 0 auto;
	display: block;
	cursor: pointer;
	opacity: .8;
	padding: 0px;
	transition: .3s ease-in-out;
}
.Menubtn:hover{
	opacity: 1;
}
.Menubtn img{
	transition: .3s ease-in-out;
}
section span{
	font-size: 24px;
	color:#777;
}
/*contacto seguridad*/
.secu¡rityText{
	color: #777;
}
/*nav header*/
.desktopNav{
	width: 60%;
}
.navMain{
	background-color: rgba(255,255,255,0);
	-webkit-transition: .3s;
	transition: .3s;
}
.navMain.navOpacity{
	background-color: rgba(255,255,255,1);
	-webkit-transition: .3s;
	transition: .3s;
	box-shadow: 5px 4px 10px rgba(0,0,0,.3);
}
nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
nav li {
	display: inline-block;
	width: 14.28%;
	text-align: center;
	line-height: 80px;
	font-size: 20px;
}
nav li a {
  color:#000;
  text-decoration: none;
  padding: 18px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
nav li a:hover{
	color: #666;
}
.noViewDesktop{
	display: none;
}
.mainLogoMobile{
	max-width: 100px;
}
section {
  padding: 10em 0;
}
section#menu{
	padding: 10em 0 10em 0;
}
#contact a.active {
  color:#000;
  border-bottom: 3px solid #000;
}
/*a.active {
  color:#000;
  border-bottom: 3px solid #000;
} */
.collapse.show {
    display: block;
	background: rgba(255,255,255,.8);
}
/*seciones principales*/
section#aboutUS, section#bread, section#drinks{
	background-image: url(../images/dot.png);
	background-repeat: repeat-y;
	background-position: center;
}
#tienda{
	background-color: #000;
	color: #fff;
}
#tienda p{
	color:#fff;
}
/*contacto*/
#contact{
	background-image: url(../images/backContact.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
}
.contact{
	background-color:rgba(255,255,255,.8);
	border-left: 5px solid #ffe500;
	padding: 50px;
	box-shadow: 5px 5px 10px rgba(0,0,0,.2);
}
.contact .col-sm-6{
	opacity: 1;
}
nav#dot-nav {
	position: fixed;
	right: 40px;
	z-index: 3;
  }
  nav#dot-nav a {
	border: 1px solid #666;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	display: block;
	margin: 10px;
	background-color: rgba(255,255,255,.3);
  }
  nav#dot-nav a.active {
	background: #121212;
	}
	/* carousel text */
	.carousel-inner {
    min-height: 380px;
}
.carousel-indicators li {
	background-color: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {
	background-color:#000;
}