@media screen and (max-width: 1024px){
	.desktopNav {
		width: 80%;
	}
	svg.mainsvg {
		height: auto;
		position: absolute;
		top: 2%;
	}
	#home .static {
		position: relative;
		top: auto;
		right: auto;
		margin: auto;
		max-width: 390px;
	}
	section#aboutUS, section#bread, section#drinks{
		background-image: none;
	}
	section {
		padding: 50px 0px;
	}
	.footer {
 		position: relative;
	}
}
@media screen and (max-width: 768px){
	#home {
		height: auto; 
		margin-top: 92px;
	}
	svg.mainsvg {
		top: 1.2%;
		left: 14%;
		width: 70%;
	}
	nav li {
		width: 100%;
		line-height: initial;
	}
	.navMain{
		background-color: #fff;
	}
	.desktopNav {
		width: 100%;
	}
	.hide-md{
		display: none;
	}
	.noViewDesktop{
		display: block;
	}
	.navMain{
		box-shadow: 5px 4px 10px rgba(0,0,0,.3);
	}
	#home .static {
		max-width: 180px;
	}
	nav#dot-nav {
		display: none;
	}
	.linesDesktop{
		display: none;
	}
	.Menubtn img {
		max-width: 100%;
	}
	.Menubtn{
		opacity: 1;
	}
}
@media screen and (max-width: 480px) {
	svg.mainsvg {
		top: 3%;
		width: 100%;
		left: 0%;
	}
	.itemsImg{
		display: none;
	}
	.itemsImg-mobile{
		display: block;
	}
	.actionsName {
		margin-top: 15px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.logoMainMenu {
		float: none;
		margin: 15px auto;
		border-right: none;
		padding: 0px;
	}
	h1, .h1 {
		font-size: 1.8rem;
	}
	.contact {
		padding: 0px;
	}
}
@media screen and (max-width: 414px) {
	svg.mainsvg {
		top: 1.2%;
	}
}
@media screen and (max-width: 320px) {
	#home .static {
		max-width: 120px;
	}
	svg.mainsvg {
		top: 1.5%;
	}
}