#text2{
  opacity: 0;
  animation: text2 .5s .1s ease normal forwards;
}
@keyframes text2 {
 0% {
     opacity: 1;
     transform: translateX(-500px);
     
 }
 100%{
     transform:translateX(0px);
    opacity: 1;
 } 
} 
#bike{
  opacity: 0;
  animation: bike .5s .3s ease normal forwards;
}
@keyframes bike {
 0% {
     opacity: 1;
     transform: translateY(-500px);
     
 }
 100%{
     transform:translateY(0px);
    opacity: 1;
 } 
} 
#mexico{
  opacity: 0;
  animation: mexico .5s .5s ease normal forwards;
}
@keyframes mexico {
 0% {
     opacity: 1;
     transform: translateY(-500px);
     
 }
 100%{
     transform:translateY(0px);
    opacity: 1;
 } 
} 
#lines{
  opacity: 0;
  animation: lines .5s .8s ease normal forwards;
}
@keyframes lines {
 0% {
     opacity: 0;
     transform: rotate(180deg);
 }
 100%{
    opacity: 1;
    transform: rotate(0deg);
 } 
} 
#text{
    opacity: 0;
    animation: text .5s 1s ease normal forwards;
  }
  @keyframes text {
   0% {
       opacity: 0;
       transform: translateX(500px);
   }
   100%{
      opacity: 1;
      transform: translateX(0px);
   } 
  } 