@font-face {
    font-family: 'Bebas Neue';
        src: url(../../../fonts/BebasNeue-Regular.ttf);
  }
  *{
    box-sizing: border-box;
  }
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  body{
      background-color: #F5F5F5;
      font-family: 'Bebas Neue' !important;
  }
  p, section ul li, span.badge {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
  }
  p b{
    color: #272727;
  }
  span.badge{
    font-size: 55%;
    color:#777;
  }
  #wrapper {
    min-height: 100%;
    position: relative;
  }
  h1{
      text-transform: uppercase;
  }
  header {
      /* background-color: #fff; */
      box-shadow: 0px 0px 5px rgba(0,0,0,.2);
      background: #faec6f;
      background: -moz-radial-gradient(center, ellipse cover, #faec6f 0%, #ffe500 100%);
      background: -webkit-radial-gradient(center, ellipse cover, #faec6f 0%,#ffe500 100%);
      background: radial-gradient(ellipse at center, #faec6f 0%,#ffe500 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faec6f', endColorstr='#ffe500',GradientType=1 );
  }
  .breadcrumb-item.active {
    color: #000;
  }
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 16px;
    background-color: #272727;
}
.footer p{
  color: #fff;
  font-size:12px;
  padding: 0px 15px;
}
.footer-copyright{
  background-color: #000;
}
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  html {
    position: relative;
      min-height: 100%;
  }
.btn-hu-alert{
    padding: 2px 10px;
    font-size: 18px;
    background: #000;
    border: none;
    color: #fff;
    margin: 10px 0px;
  } 
a, a:hover{
    color:#D2A12F;
}
section span{
    font-size: 20px;
    color: #777;
}
.hu-positive{
	padding: 2px 10px;
	font-size: 18px;
	font-weight: unset;
	background: #FDC10A;
	border: none;
  color: #000;
  margin: 10px 0px;
} 
section {
    padding:2em 0 10em 0;
  }
  /* header */
  .logoMainMenu{
    float: left;
    margin: 15px 20px;
    border-right: 2px solid #000;
    padding: 0px 20px 0px 0px;
  }
  .actionsName{
      margin-top: 13px;
  }
  .breadcrumb{
    padding: 0px;
    background: transparent;
    margin-bottom: 0px;
    font-size: 20px;
  }
  /*itmes*/
  .menuItems{
      border-radius: 5%;
      background-color: #fff;
      transition: .3 ease-in-out;
      border:1px solid #ddd;
  }
  .menuItems:hover{
      box-shadow: 0px 0px 15px rgba(0,0,0,.3);
}
.breadcrumb-item + .breadcrumb-item::before {
    content: "|";
  }

  /*carousel*/
  .carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}
.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #ccc;
}
.carousel-indicators .active {
    background-color:#FFE500;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.badge:before {
    /* content:url('../../../images/cup.png'); */
    content:'*';
    position:relative;
    left: -2px;
    top: 2px;
}