@media screen and (max-width: 1960px){
    .footer {
        position: absolute;
   }
}
@media screen and (max-width: 1024px){
    .footer {
        position: absolute;
   }
}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 480px) {
    .animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
    header {
        background-color:transparent;
        box-shadow: none;
    }
    .breadcrumb {
        padding: 0px;
        background: transparent;
        margin-bottom: 0px;
        font-size: 20px;
    }
    .breadcrumb li.breadcrumb-item{
        margin:0 auto;
    }
	.actionsName {
        margin-top: 0px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border-top: 1px solid #000;
        padding-top: 5px;
	}
	.logoMainMenu {
		float: none;
		margin: 15px auto;
		border-right: none;
		padding: 0px;
    } 
    .footer {
        position: absolute;
   }
   section {
    padding: 2em 0 15em 0;
}
}
@media screen and (max-width: 414px) {
	
}
@media screen and (max-width: 320px) {

}