@font-face {
    font-family: 'Bebas Neue';
        src: url(../../fonts/BebasNeue-Regular.ttf);
  }
*{
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
}
body{
    background-color: #F5F5F5;
    font-family: 'Bebas Neue' !important;
}
#wrapper {
  min-height: 100%;
  position: relative;
}
h1{
    text-transform: uppercase;
}
header {
    /* background-color: #fff; */
    box-shadow: 0px 0px 5px rgba(0,0,0,.2);
    background: #faec6f;
    background: -moz-radial-gradient(center, ellipse cover, #faec6f 0%, #ffe500 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #faec6f 0%,#ffe500 100%);
    background: radial-gradient(ellipse at center, #faec6f 0%,#ffe500 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faec6f', endColorstr='#ffe500',GradientType=1 );
}
.breadcrumb-item.active {
  color: #000;
}
  .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: auto;
      text-align: center;
      font-size: 16px;
      background-color: #272727;
  }
  .footer p{
    color: #fff;
    font-size:12px;
    padding: 0px 15px;
  }
  .footer-copyright{
    background-color: #000;
  }
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .btn-hu-alert{
    padding: 2px 10px;
    font-size: 18px;
    background: #000;
    border: none;
    color: #fff;
    margin: 10px 0px;
  } 
a, a:hover{
    color:#D2A12F;
}
section span{
    font-size: 20px;
    color: #777;
}
.hu-positive{
	padding: 2px 10px;
	font-size: 18px;
	font-weight: unset;
	background: #FDC10A;
	border: none;
  color: #000;
  margin: 10px 0px;
} 
section {
    padding:2em 0 15em 0;
  }
  /* header */
  .logoMainMenu{
    float: left;
    margin: 15px 20px;
    border-right: 2px solid #000;
    padding: 0px 20px 0px 0px;
  }
  .actionsName{
      margin-top: 13px;
  }
  .breadcrumb{
    padding: 0px;
    background: transparent;
    margin-bottom: 0px;
    font-size: 20px;
  }
  /*itmes*/
  .menuItems{
      border-radius: 5%;
      background-color: #fff;
      transition: .3 ease-in-out;
      border:1px solid #ddd;
  }
  .menuItems:hover{
      box-shadow: 0px 0px 15px rgba(0,0,0,.3);
}